{% load static %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coinreef </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/waves.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;box-sizing: content-box;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>

<body>



<div id="ajaxpreloader" style="display: none;">
        <div class="ajaxsk-three-bounce">
            <div class="sk-child "><img src="{% static 'fonts/ripple.svg' %}"></div>
            
        </div>
    </div>

    <div id="main-wrapper pt-0">

        <div class="header landing_page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar navbar-expand-lg navbar-light px-0">
                            <a class="navbar-brand" href="/"><img src="{% static 'images/w_logo.png' %}" alt="">
                                <span>Coinreef</span></a>
                            <button class="navbar-toggler waves-effect" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-scroll-nav="1">Benefits</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-scroll-nav="2">Portfolio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-scroll-nav="3">Testimonial</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-scroll-nav="4">Contact</a>
                                    </li>
                                    
                                    
                               
                                 <span class="mobalert">  
                                    <table style="padding: 5px;width: 100%"> 
                                        <tbody>
                                            <tr>
                                                <td style="padding-right:10px;" align="right">  <a href="/signin" class="btn btn-success waves-effect">Sign In</a></td>
                                                <td style="padding-left:10px;" align="left"> <a href="/signup" class="btn btn-outline-primary waves-effect">Sign Up</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </span>
                                    
                                
                                </ul>
                            </div>
                            <div class="dashboard_log">
                                <div class="d-flex align-items-center">
                                    <div class="header_auth">
                                        <a  href="/signin"  class="btn btn-success waves-effect">Sign In</a>
                                        <a  href="/signup"  class="btn btn-outline-primary waves-effect">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro section-padding position-relative" id="intro" data-scroll-index="0">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-6 col-md-6">
                        <div class="intro-content">
                            <h2>Online Crypto<br>Investment</h2>
                            <p>Fast, anonymous and secure way to save &amp; earn guaranteed profits on your cryptocurrencies</p>
                            <a href="/signin" class="btn waves-effect">GET STARTED </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 py-md-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="buy-sell-widget">
                                    <form method="post" name="myform" class="currency_validate" novalidate="novalidate">
                                        <div class="form-group">
                                            <label class="mr-sm-2">Currency</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i class="cc BTC-alt"></i></label>
                                                </div>
                                                <select name="currency" class="form-control">
                                                    
                                                    <option value="bitcoin" selected="selected">Bitcoin</option>
                                                   
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Tenure</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i class="fa fa-history"></i></label>
                                                </div>
                                                <select onchange="tenureConvert();" id="tenure" class="form-control" name="method">
                                                    
                                                    <option value="rate3">3 Months</option>
                                                    <option value="rate6">6 Months</option>
                                                    <option value="rate12" selected="selected">12 Months</option>
                                                   
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Investment amount</label>
                                            <div class="input-group">
                                                <input onkeyup="btcConvert();" id="btcAmount" type="text" name="currency_amount" class="form-control" placeholder="0.0214 BTC">
                                                <input onkeyup="cashConvert();" id="cashAmount" type="text" name="fiat_amount" class="form-control" placeholder="125.00 {{currency.name}}">

                                            </div>

                                            <div class="d-flex justify-content-between mt-3">
                                                <p class="mb-0">Investment returns</p>
                                                <h6 class="mb-0"><span id="result">0.0000</span> BTC<br>{{currency.symbol}}<span id="cashResult">0.00</span>  {{currency.name}}</h6>
                                            </div>
                                            
                                        </div>
                                        <button type="submit" name="submit" class="btn btn-success btn-block waves-effect">Learn More</button>

<br><br><span>* FIAT currency displayed based on current exchange rates. Your ROI is paid in BTC. <a href="/" class="text-primary">Change currency</a></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     

        <div class="features section-padding page-section" data-scroll-index="1">
            <div class="container">
                <div class="row py-lg-5 justify-content-center">
                    <div class="col-xl-6">
                        
                        <div class="section_heading">
                            <span>Key Features</span>
                            <h3>The most trusted cryptocurrency platform</h3>
                            <p>Here are a few reasons why you should invest with us</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-4">
                        <div class="features-content">
                            <span><i class="fa fa-line-chart"></i></span>
                            <h4>Guaranteed profit</h4>
                            <p>Regardless of current or future price fluctuations, your agreed interest rate is applied with <b>ZERO risk</b> at tenure end.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="features-content">
                            <span><i class="fa fa-tachometer"></i></span>
                            <h4>Instant withdrawals</h4>
                            <p>Your withdrawals are processed instantly to your external bitcoin wallets.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="features-content">
                            <span><i class="fa fa-user-secret"></i></span>
                            <h4>100% Privacy</h4>
                            <p>All of your data and communication with 
us is 100% secured with the latest encryption technology. Even our 
support staff cannot view your trading/investment profile.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="features-content">
                            <span><i class="fa fa-shield"></i></span>
                            <h4>Secure storage</h4>
                            <p>We store the vast majority of the digital assets in secure offline storage.</p>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="features-content">
                            <span><i class="fa fa-life-ring"></i></span>
                            <h4>Coin-in/Coin-out</h4>
                            <p>Deposits/withdrawals can be processed from the same cryptocurrency.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="features-content">
                            <span><i class="fa fa-cubes"></i></span>
                            <h4>Protected by insurance</h4>
                            <p>Cryptocurrency stored on our servers is covered by our insurance policy.</p>
                            

                        </div>
                    </div>
                    
                    
                    
                   
                </div>
            </div>
        </div>

        <div class="portfolio section-padding" data-scroll-index="2">
            <div class="container">
                <div class="row py-lg-5 justify-content-center">
                    <div class="col-xl-6">
                        <div class="section_heading">
                            <span>Join Us</span>
                            <h3>Create your cryptocurrency portfolio today</h3>
                            <p>Coinreef has a variety of features that makes it the best place to invest</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-5 col-md-6">
                        <div class="portfolio_list">
                            <div class="media">
                                <span class="port-icon"> <i class="la la-bar-chart"></i></span>
                                <div class="media-body">
                                    <h4>Manage your portfolio</h4>
                                    <p>Top up, withdraw or reinvest your digital assets, keep track of them in one place.</p>
                                </div>
                            </div>
                            <div class="media">
                                <span class="port-icon"> <i class="la la-calendar-check-o"></i></span>
                                <div class="media-body">
                                    <h4>Coinreef alerts</h4>
                                    <p>Stay on top of the markets with Coinreef alerts and stay up to date with critical market changes.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <span class="port-icon"> <i class="la la-lock"></i></span>
                                <div class="media-body">
                                    <h4>Vault protection</h4>
                                    <p>For added security, store your funds in a vault with time delayed withdrawals.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <span class="port-icon"> <i class="la la-android"></i></span>
                                <div class="media-body">
                                    <h4>Coin transfer</h4>
                                    <p>You can instantly transfer from your portfolio balance to other recipients or your own external crypto wallet.
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-6">
                        <div class="portfolio_img">
                            <img src="{% static 'images/portfolio.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial section-padding" data-scroll-index="3">
            <div class="container">
                <div class="row py-lg-5 justify-content-center">
                    <div class="col-xl-6">
                        <div class="section_heading">
                            <span>Testimonial</span>
                            <h3>Trusted by thousands of investors</h3>
                            <p>Here's what some our key non-anonymous investors have to say about our services</p>

                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-md-11">
                        <div class="testimonial-content">
                            <div class="owl-carousel owl-theme owl-loaded owl-drag">
                                
                                
                                
                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1960px, 0px, 0px); transition: all 0s ease 0s; width: 6860px;"><div class="owl-item cloned" style="width: 970px; margin-right: 10px;"><div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">      
                                            <img class="img-fluid" src="{% static 'images/2.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review">
                                            <img src="{% static 'fonts/logo-positive.svg' %}" alt="" width="105" height="30">
                                            <p>Downing is excited to bring Coinreef's extensive range of crypto assets,
                                                competitive rates and seamless functionalities.</p>
                                            <div class="customer-info">
                                                <h5>Martin Robertson</h5>
                                                <p>Portfolio Reporting, Downing LLP</p>
                                            </div>
                                        </div>
                                    </div>
                                </div></div><div class="owl-item cloned" style="width: 970px; margin-right: 10px;"><div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">
                                            <img class="img-fluid" src="{% static 'images/ryan.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review">
                                            <img src="{% static 'fonts/maven.svg' %}" alt="" width="105" height="30">
                                            <p>Cryptocurrency is the 
future and there's no better way to secure the future than with trusted 
and experienced trade experts at Coinreef.
                                            </p>
                                            <div class="customer-info">
                                                <h5>Ryan Bevington</h5>
                                                <p>Investment Director, Maven Capital LLP</p>
                                            </div>
                                        </div>
                                    </div>
                                </div></div><div class="owl-item active" style="width: 970px; margin-right: 10px;"><div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">
                                            <img class="img-fluid" src="{% static 'images/heidi.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review">
                                            <img src="{% static 'images/gcp.png' %}" alt="" width="105" height="30">
                                            <p>Integrating Coinreef services into our investment portfolios has been a
                                                great success for all parties, especially our investors.
                                            </p>
                                            <div class="customer-info">
                                                <h5>Heidi Farley</h5>
                                                <p>Investment Executive, Growth Capital LLP</p>
                                            </div>
                                        </div>
                                    </div>
                                </div></div><div class="owl-item" style="width: 970px; margin-right: 10px;"><div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">
                                            <img class="img-fluid" src="{% static 'images/2.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review">
                                            <img src="{% static 'fonts/logo-positive.svg' %}" alt="" width="105" height="30">
                                            <p>Downing is excited to bring Coinreef's extensive range of crypto assets,
                                                competitive rates and seamless functionalities.</p>
                                            <div class="customer-info">
                                                <h5>Martin Robertson</h5>
                                                <p>Portfolio Reporting, Downing LLP</p>
                                            </div>
                                        </div>
                                    </div>
                                </div></div><div class="owl-item" style="width: 970px; margin-right: 10px;"><div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">
                                            <img class="img-fluid" src="{% static 'images/ryan.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review">
                                            <img src="{% static 'fonts/maven.svg' %}" alt="" width="105" height="30">
                                            <p>Cryptocurrency is the 
future and there's no better way to secure the future than with trusted 
and experienced trade experts at Coinreef.
                                            </p>
                                            <div class="customer-info">
                                                <h5>Ryan Bevington</h5>
                                                <p>Investment Director, Maven Capital LLP</p>
                                            </div>
                                        </div>
                                    </div>
                                </div></div><div class="owl-item cloned" style="width: 970px; margin-right: 10px;"><div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">
                                            <img class="img-fluid" src="{% static 'images/heidi.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review">
                                            <img src="{% static 'images/gcp.png' %}" alt="" width="105" height="30">
                                            <p>Integrating Coinreef services into our investment portfolios has been a
                                                great success for all parties, especially our investors.
                                            </p>
                                            <div class="customer-info">
                                                <h5>Heidi Farley</h5>
                                                <p>Investment Executive, Growth Capital LLP</p>
                                            </div>
                                        </div>
                                    </div>
                                </div></div><div class="owl-item cloned" style="width: 970px; margin-right: 10px;"><div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">
                                            <img class="img-fluid" src="{% static 'images/2.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review">
                                            <img src="{% static 'fonts/logo-positive.svg' %}" alt="" width="105" height="30">
                                            <p>Downing is excited to bring Coinreef's extensive range of crypto assets,
                                                competitive rates and seamless functionalities.</p>
                                            <div class="customer-info">
                                                <h5>Martin Robertson</h5>
                                                <p>Portfolio Reporting, Downing LLP</p>
                                            </div>
                                        </div>
                                    </div>
                                </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev waves-effect"><i class="la la-arrow-left"></i></button><button type="button" role="presentation" class="owl-next waves-effect"><i class="la la-arrow-right"></i></button></div><div class="owl-dots disabled"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-form section-padding" data-scroll-index="4">
            <div class="container">
                <div class="row py-lg-5 justify-content-center">
                    <div class="col-xl-6">
                        <div class="section_heading">
                            <span>Contact us</span>
                            <h3>Let us hear from you directly!</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-4">
                        <div class="info-list">
                            <h4 class="mb-3">Address</h4>
                            <ul>
                                <li><i class="fa fa-map-marker"></i>15 Finsbury Circus, London, EC2M 7EB</li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-8 col-md-8 col-sm-8">
                        For complete privacy and protection of our 
users, our customer reps are only available to assist from within our 
internal messaging system found in your account dashboard area.
                        
                    </div>
                </div>
            </div>
        </div>



        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="footer-link text-left">
                            <a href="#" class="m_logo"><img src="{% static 'images/w_logo.png' %}" alt=""></a>
                            <a href="/about">About</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Term &amp; Service</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 text-lg-right text-center">
                        <div class="social">
                                                                            </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-12 text-center text-lg-right">
                        <div class="copy_right text-center text-lg-center">
                            © 2023 First Sentier Investors Funds Ltd.
                            <br> (UK Registration: 02294743)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ajaxloader" style="display: none;">
        <div id="ajaxpreloader">
            <div class="ajaxsk-three-bounce">
                <div class="sk-child "><img src="{% static 'fonts/ripple.svg' %}"></div>
                
            </div>
        </div>
    </div>
    <script>
        function preLoader(y){
            if(y=="on"){
                document.getElementById('ajaxloader').style.display="block";
            }
            if(y=="off"){
                document.getElementById('ajaxloader').style.display="none";
            }
        }
        function navigate(link){
            preLoader('on');
            window.location.href=link;
        }
    </script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/waves.min.js' %}"></script>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel-init.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/scrollit-init.js' %}"></script>

    <!-- Chart sparkline plugin files -->
    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline-init.js' %}"></script>

    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/validator-init.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- EXTERNAL JAVASCRIPT PHP VARIABLE DECLARATIONS -->
    <script>
    var rate3=3;
    var rate6=10;
    var rate12=25;
    
    var coinRate=30295.73;
    var currency="{{currency.name}}";
</script>
    <script src="{% static 'js/tenureCalculator.js' %}"></script>


</body></html>